Создайте .env файл с данными переменными для успешного запуска проекта

# Настройка Django
MY_SECRET_KEY='django-insecure-fx@eqhlmu7h&gra6*k@jfz=ls!hu#iga4&=)wd^)00k!6m!@lh'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1